html, body, #root, .App {
  height: 100%;
}

body{
  background-color:rgba(206, 237, 250, 0.767);
}

.App-link {
  color: #61dafb;
}

.container {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.container > div {
  margin: 0 20px;
}

.selected {
  background-color: #ccc;
}

.timeline {
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 4;
}

.timeline > div {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: transform .5s ease;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}

.timeline:before {
  content: "";
  position: absolute;
  margin-top:25px;
  left: 0px;
  right: 0px;
  border-radius: 10px;
  border: 8px solid #ccc;
  z-index:-1;
}

.timeline > div:hover{
  transform: scale(1.5, 1.5);
  transition: transform .5s ease;
}


.correct {
  background-color: greenyellow;
}

.wrong {
  background-color: #fb617b;
}

.normal {
  background-color:#ccc;
}

.card {
  width: 80vh;
  box-shadow: 5px 5px #ddd;
}

.link, .link:hover {
  color: white;
  text-decoration: none;
}
.cardWelcome {
  max-width: 40vh;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.cardResults {
  width: 60vh;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.card-title {
  font-weight: 100;
}

.answers-btn {
  width: 100%;
  border-color: #343a40;
  text-align: justify;
  border: 1px solid;
  padding: .375rem .75rem;
  border-radius: .25rem;
  margin-bottom: 5px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.answers-btn:not(:disabled){
  cursor: pointer;
}
.answers-btn:hover {
  transform: scale(1.1, 1.1);
}

.answers-btn_selected {
  transition: all .5s ease-out; 
  background-position: left bottom;
  color: white;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.4;
}

.btn-success {
  float:right;
}

.btn-secondary {
  float:left;
}

.scoreContainer {
  background: white;
  font-family: 'Oswald', sans-serif;
  color: #CCC;
  text-shadow: 1px 1px 2px black;
  width: 100vh;
}
.score {
  margin-top: 100px;
  margin-bottom: 100px;
  transform-style: preserve-3d;
  font-size:90px;
  text-align: center;
  line-height: 90px;
}